* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.styled-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
}